<iframe src='{{{urlcloudstidio}}}Share/mapamental/{{{identificador}}}?hidelink=1'
        width='100%' height='800px' frameborder='0'
        sandbox="allow-scripts allow-same-origin allow-popups"
        style="height:{{{mapaheight}}}px"></iframe>
