<div class="area-shorts">

    <h2>{{#str}}short_title,mod_cloudstudio{{/str}}</h2>

    {{#data}}
        <fieldset class="area-short">
            <legend>{{#str}}short_sugestao,mod_cloudstudio{{/str}} {{{num}}}</legend>
            <div class="enunciado">{{{description}}}</div>

            <p>{{#str}}short_start,mod_cloudstudio{{/str}}
                <strong>{{{start_time}}}</strong>
                {{#str}}short_at,mod_cloudstudio{{/str}}
                <strong>{{{end_time}}}</strong>
                {{#str}}short_duration,mod_cloudstudio{{/str}}
                <strong>{{{time}}}</strong>
            </p>

        </fieldset>
    {{/data}}
</div>