<div class="area-shorts">

    <h2>Sugestões de Vídeos Extras com base na transcrição</h2>

    {{#data}}
        <fieldset class="area-short">
            <legend class="enunciado">{{{titulo}}}</legend>
            <p>{{{descricao}}}</p>
        </fieldset>
    {{/data}}
</div>