<div class="area-shorts">

    <h2>{{#str}}sugestao_title,mod_cloudstudio{{/str}}</h2>

    {{#data}}
        <fieldset class="area-short">
            <legend class="enunciado">{{{titulo}}}</legend>
            <p>{{{descricao}}}</p>
        </fieldset>
    {{/data}}
</div>