#cloudstudioheading {
    display: flex;
    align-items: center;
    .cloudstudioheading-title {
        width: 100%;
    }
    .cloudstudio-report-link {
        font-size: 16px;
        font-weight: 400;
        padding-top: 4px;
        display: inline-block;
    }
}
#cloudstudio_area_embed {
    position: relative;
    z-index: 1;
    .logo {
        position: absolute;
        height: 40px;
        background: #fff;
        right: 2px;
        top: 2px;
        z-index: 2
    }
    iframe {
        width: 100%;
    }
}
#page-mod-cloudstudio-report table.flexible .header .commands {
    display: none;
}
#mapa-visualizacao {
    margin: 5px 0;
    background: rgba(206, 206, 206, 0.5);
    padding: 1px;
    width: 100%;
    position: relative;
    .mapa,
    .clique {
        display: flex;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        div {
            height: 100%;
            background: #e60076;
            width: 100%;
            opacity: 0;
            transition: opacity 200ms;
        }
    }
    .clique {
        z-index: 3;
        div {
            cursor: pointer;
            background: rgba(0, 0, 0, 0);
            &:hover {
                background: rgba(0, 0, 0, 0.2);
                opacity: 1;
            }
        }
    }
    #seu-mapa-view {
        margin: -3px 0 !important;
        padding-bottom: 0;
        font-size: 8px;
        position: relative;
        z-index: 2;
        color: #000;
        text-align: center;
        transition: all ease 0.3s;
        span {
            font-weight: 700;
        }
        @media (max-width: 750px) {
            font-size: 15px;
            margin: 3px 0 !important;
        }
    }
    &:hover {
        #seu-mapa-view {
            font-size: 15px;
            margin: 3px 0 !important;
        }
    }
    &.report {
        display: flex;
        width: 100%;
        margin: 6px 0;
        height: 20px;
        div {
            opacity: 0;
            background: #e60076;
            width: 100%;
            height: 19px;
        }
    }
}
#fitem_id_completionpercent .felement {
    align-items: center !important;
    &::after {
        content: ' %';
        margin-left: 6px;
        font-size: 1.1em;
    }
}
#page-mod-cloudstudio-view {
    .activity-description {
        iframe {
            width: 96% !important;
        }
    }
}
@import "style_player";

.plyr--video {
    width: 100%;
}
.plyr__control {
    margin: 0;
    
    text-shadow: none;
    -webkit-text-shadow: none;
    
    box-shadow: none;
    -webkit-box-shadow: none;
    
    appearance: none;
    -webkit-appearance: none;
}
.plyr--full-ui.plyr--video .plyr__control--overlaid {
    zoom: 1.4;
}
@media (max-width: 750px) {
    .plyr__volume {
        display: none !important;
    }
}

.galery-blocks-area {
    display     : flex;
    flex-wrap   : wrap;
    position    : relative;
    width       : 100%;
    align-items : flex-start;
    .galery-item {
        display       : block;
        box-shadow    : 0 4px 24px 0 rgba(34, 41, 47, .24);
        border-radius : 6px;
        margin        : 0 7px 16px;
        transition    : .4s ease-in-out;
        width : calc(50% - 14px); // 2
        //width : calc(33% - 14px); // 3
        .card-img-top {
            width         : 100%;
            border-radius : 6px 6px 0 0;
        }
        .clamp {
            overflow           : hidden;
            text-overflow      : ellipsis;
            -webkit-box-orient : vertical;
            -webkit-line-clamp : 2;
            display            : -webkit-box;
            line-height        : 1.5;
            font-size          : 16px;
        }
    }
}

.area-livro {
    border        : 1px solid #FEFEFE4D;
    border-radius : 8px;
    margin        : 0 13px;
    padding       : 7px 10px;
    .form-group label {
        display : none;
    }
    .panel {
        p {
            text-indent : 30px;
            text-align  : justify;
        }
    }
}

.area-mapamental {
    span {
        font-size : 0;
    }
    > svg {
        width      : 100%;
        min-height : 300px;
        max-height : 500px;
        // color      : #FFFFFF;
        font-size  : 27px;
    }
    .markmap-foreign {
        div {
            line-height : 27px;
            // color       : #FFFFFF;
        }
        a {
            // color           : #B7DCF0;
            text-decoration : underline;
            &:hover {
                // color           : #E2F1F2;
                text-decoration : none;
            }
        }
    }
}

.area-questoes,
.area-shorts {
    .area-questao,
    .area-short {
        border        : 1px solid #514B4B4D;
        border-radius : 8px;
        padding       : 7px 10px;
        margin        : 0 13px 15px;
        h3.enunciado {
            color : #3B3E4D;
        }
        .alternativas {
            .alternativa {
                width         : 100%;
                min-height    : 48px;
                position      : relative;
                margin-bottom : 7px;
                overflow      : hidden;
                border-radius : 5px;
                background    : #F7F7F7;
                display       : flex;
                align-items   : center;
                div {
                    min-width       : 59px;
                    height          : 100%;
                    background      : #D2D2D2;
                    font-size       : 28px;
                    color           : #FFFFFF;
                    font-weight     : bold;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    position        : absolute;
                    top             : 0;
                    bottom          : 0;
                    left            : 0;
                    span {
                        font-size : 0;
                    }
                }
                label {
                    font-size   : 19px;
                    color       : #8B8B8B;
                    font-weight : bold;
                    height      : 100%;
                    margin-left : 68px;
                    line-height : 21px;
                    padding     : 12px 0;
                }
                &.selected {
                    div {
                        background : #2F764E;
                    }
                    label {
                        color : #2F764E;
                    }
                    &::after {
                        content       : "";
                        border-left   : solid 3px #2F764E;
                        border-bottom : solid 3px #2F764E;
                        width         : 21px;
                        height        : 11px;
                        transform     : rotate(-45deg);
                        margin-right  : 10px;
                        margin-top    : -5px;
                    }
                }
            }
        }
        .explicacao {
            font-size : 14px;
            padding   : 12px 12px 0;
            &:before {
                content     : "Feedback: ";
                color       : #9C9C9C;
                margin-left : 18px;
            }
        }
    }
}
