{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_cloudstudio/select-file-cloudstudio

    Example context (json):
    {
    }
}}
<div id="galery-files">{{#str}}loading,mod_cloudstudio{{/str}}</div>

{{#js}}

    require(['jquery', 'core/ajax', 'core/notification', 'core/templates'], function($, Ajax, Notification, Templates) {

        function load__cloudstudio_files(path, page, titulo) {
            Ajax.call([{
                methodname : "mod_cloudstudio_services_cloudstudio_files",
                args       : {
                    path   : path,
                    page   : page,
                    titulo : titulo,
                }
            }])[0].done(function(data) {
                Templates.render('mod_cloudstudio/select-file-cloudstudio__galery', data)
                        .then(function(templatehtml) {
                            $("#galery-files").html(templatehtml);

                            $("#galery-files .galery-item-arquivo").click(function() {
                                var $this = $(this);

                                $('[name=name]').val($this.attr('data-titulo'));
                                $('[name=identificador]').val($this.attr('data-identificador'));

                                if (tinyMCE && tinyMCE.execCommand) {
                                    tinyMCE.execCommand('mceInsertContent', false, $this.attr('data-descricao'));
                                }

                                var event = new CustomEvent('cloudstudio-selected-file');
                                window.dispatchEvent(event);
                            });
                        });
            }).fail(Notification.exception);
        }

        load__cloudstudio_files(0, 0, "");
    });

{{/js}}
