{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_cloudstudio/select-file-cloudstudio__galery

    Example context (json):
    {
      "videos": [
        {
          "identificador": "vid001",
          "titulo": "Video 1: Introdução ao Curso",
          "descricao": "Uma breve introdução ao conteúdo do curso.",
          "size": "1024MB",
          "thumb": "https://example.com/thumbs/video1.jpg"
        }
      ]
    }

}}
<div class="galery-blocks-area">
    {{#videos}}
        <div class="h-100 card galery-item galery-item-arquivo"
             data-identificador="{{identificador}}"
             data-titulo="{{titulo}}"
             data-descricao="{{descricao}}"
             data-size="{{size}}">
            <img class="card-img-top"
                 src="{{{thumb}}}"
                 alt="Thumb">
            <div class="card-body p-2">
                <div class="clamp">{{{titulo}}}</div>
                <button>{{#str}}use_this_file,mod_cloudstudio{{/str}}</button>
            </div>
        </div>
    {{/videos}}
</div>
